* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #bddcf3; 
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #333;
  text-align: center;
}

h1 {
  font-size: 24px;
  margin-bottom: 15px;
}

p {
  font-size: 16px;
}
